// apply area css
.apply__area__bg{
    background-color: #F5F3EA;
    border-radius: 16px;
    padding: 95px 60px;
}
.apply__area__img{
    position: absolute;
    bottom: -100px;
    left: 0;
    img{
        max-height: 305px;
    }
}
.shape__image__six {
	position: absolute;
	left: 35%;
	top: 0;
}