// job card
.rts__job__card {
    padding: 30px;
    border: 1px solid #dcdddf;
    border-radius: 10px;
    position: relative;
    transition: var(--transition);

    &::before {
        background: linear-gradient(228.34deg, #FEF2EB 0%, #F1F1F1 46.31%, #E4E0EA 100%);
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        inset: 0;
        border-radius: inherit;
        z-index: -1;
        opacity: 0;
        border: 0;
        transition: var(--transition);
    }

    &:hover {
        border-color: transparent;

        .company__icon {
            background-color: var(--rts-white);
        }

        .featured__option span {
            background-color: var(--rts-white);
        }

        &::before {
            opacity: 1;
        }
    }

    .company__icon {
        height: 60px;
        width: 60px;
        display: grid;
        place-items: center;
        border-radius: 6px;
        background-color: var(--rts-gray);
        transition: var(--transition);
    }

    .featured__option {
        span {
            background-color: var(--rts-gray);
            border-radius: 6px;
            padding: 10px;
            line-height: 1;
            font-size: 16px;
            display: block;
            transition: var(--transition);
            color: var(--rts-button-1);
        }
    }

    .job__title a {
        color: var(--rts-heading);
    }

    .job__tags {
        a {
            padding: 10px;
            border-radius: 6px;
            background-color: var(--rts-gray);
            color: var(--rts-para);
            line-height: 1;
            text-transform: capitalize;
            transition: var(--transition);
            font-size: 16px;

            &:hover {
                color: var(--rts-white);
                background-color: var(--rts-button-1);
            }
        }
    }

}

// featured job card
.rts__job__card__big {
    background-color: var(--rts-white);
    border-radius: 10px;
    padding: 30px;

    .company__icon {
        height: 120px;
        width: 120px;
        border-radius: 50%;
        background-color: var(--rts-gray);
        display: grid;
        place-items: center;

        img {
            height: 75px;
            width: 75px;
        }

    }

    .job__meta {
        .job__title {
            color: var(--rts-heading);
        }

        i {
            color: var(--rts-heading);
        }

        color: var(--rts-para);

        span.badge {
            color: var(--rts-button-1);
            padding: 10px;
            font-weight: 500;
            background: linear-gradient(228.34deg, #FEF2EB 0%, #F1F1F1 46.31%, #E4E0EA 100%), #FFFFFF;
            border-radius: 6px;

        }
    }

    .job__tags a {
        padding: 10px;
        border-radius: 6px;
        background-color: transparent;
        color: var(--rts-para);
        line-height: 1;
        text-transform: capitalize;
        transition: var(--transition);
        border: 1px solid #F1F1F1;

        &:hover {
            color: var(--rts-white);
            background-color: var(--rts-button-3);
        }
    }

    .job__sallery {
        color: var(--rts-para);
        font-weight: 500;

        span {
            font-size: 12px;
        }

        i {
            color: var(--rts-heading);
            transform: rotate(45deg);
            margin-top: -5px;
        }
    }

}

.apply__btn {
    padding: 20px;
    border-radius: 10px;
    background-color: #F1F1F1;
    color: var(--rts-heading);
    transition: var(--transition);

    &:hover {
        background-color: var(--rts-button-3);
        color: var(--rts-white);
    }
}

// top employer
.rts__single__employer {
    padding: 20px 30px;
    background-color: transparent;
    border: 1px solid rgba(#7D8087, $alpha: 0.3);
    border-radius: 10px;
    transition: var(--transition);

    .icon {
        height: 60px;
        width: 60px;
        display: grid;
        place-items: center;
        border-radius: 6px;
        background-color: var(--rts-gray);
        transition: var(--transition);
    }

    &:hover {
        box-shadow: 0px 4px 40px rgba(73, 73, 73, 0.1);
        background-color: var(--rts-white);
        border-color: var(--rts-white);
    }
}

// job card style two
.rts__job__card {
    &.style__four {
        position: relative;
        text-align: center;
        border-radius: 0;

        &:hover {
            background-color: var(--rts-gray);

            .fill__btn {
                background-color: var(--rts-button-1);
                color: var(--rts-white);
            }
        }

        .fill__btn {
            padding: 18px 20px;
            border-radius: 0;
            background-color: var(--rts-gray);
            border: 0;
            color: var(--rts-heading);
            font-weight: 600;
            margin-top: 30px;
            text-transform: capitalize;
        }

    }
}

// job card style five
.rts__job__card {
    &.style__five {
        &:hover {
            background-color: var(--rts-button-1);
            color: var(--rts-white);

            .job__title {
                color: var(--rts-white);
            }
        }
    }
}

// job card style six
.rts__job__card {
    &.style__six {
        background-color: var(--rts-white);
        border: none;
        box-shadow: 0px 4px 40px rgba(166, 166, 166, 0.16);
        border-radius: 10px;

        &:hover {
            background-color: var(--rts-button-3);
            color: var(--rts-white);

            .job__title {
                color: var(--rts-white);
            }
        }
    }
}

// top employer style six
.rts__single__employer {
    &.style__six {
        background-color: var(--rts-white);
        border: 0;
        box-shadow: 0px 4px 40px rgba(166, 166, 166, 0.16);
        border-radius: 10px;
        transition: var(--transition);
        &:hover {
            background-color: var(--rts-button-3);
            color: var(--rts-white);
            .content{
                a.text-dark{
                    color: var(--rts-white) !important;
                }
            }
            .apply__btn{
                background-color: var(--rts-white);
                color: var(--rts-button-3);
            }
        }
    }
}