.rts__social{
    a{
        display: inline-block;
        font-size: 24px;
        color: var(--rts-para);
        transition: var(--transition);
        &:hover{
            color: var(--rts-primary);
        }
    }
}