.text-primary{
    color: var(--rts-primary) !important;
}

.l--1{
    letter-spacing: -1px;
}
.l--3{
    letter-spacing: -3px;
}
.focus-none{
    &:focus{
        outline: none;
        box-shadow: none;
    }
}
.br-md-none{
    @media only screen and (max-width: 768px) {
       br{
        display: none;
       }
    }
}
.br-sm-none{
    @media only screen and (max-width: 576px) {
       br{
        display: none;
       }
    }
}
.rounded-50{
    border-radius: 50px !important;
}