@charset "UTF-8";

/** This is main css file of template. You can customize this file with your own
 * styles. To learn more about SASS variables visit http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
 */
/*========

==== Default ====
1. Typography
2. Variable
3. Animation
4. input
5. Spacing

==== Mixin ====
6. Mixin

=========*/
:root {
   /* Text Color */
   --rts-para: #7D8087;
   --rts-black: #000000;
   --rts-heading: #0B0D28;
   --rts-white: #FFFFFF;
   --rts-gray: #F1F1F1;
   --rts-primary: #34A853;
   /* Background Color */
   --rts-button-1: #34A853;
   --rts-button-2: #F9AB00;
   --rts-button-3: #0B0D28;
   --transition: all .4s ease;
   --color-success: #26CF4B;
   --color-danger: #FF0003;
   --color-warning: #FF8F3C;
   --color-info: #1BA2DB;
   --color-facebook: #3B5997;
   --color-twitter: #1BA1F2;
   --color-youtube: #ED4141;
   --color-linkedin: #0077B5;
   --color-pinterest: #E60022;
   --color-instagram: #C231A1;
   --color-vimeo: #00ADEF;
   --color-twitch: #6441A3;
   --color-discord: #7289da;
   /* typhography */
   --font: "Plus Jakarta Sans", sans-serif;
   --fontawesome-pro: "Font Awesome 6 Pro";
   --h1: 80px;
   --h2: 60px;
   --h3: 48px;
   --h4: 40px;
   --h5: 32px;
   --h6: 24px;
   --20: 20px;
   --p: 18px;
   --p-sm: 16px;
   --p-xs: 14px;
}

/**
 * Modern CSS Reset Tweaks
 * ================================================== */
html {
   -webkit-text-size-adjust: 100%;
}

html:focus-within {
   scroll-behavior: smooth;
}

body {
   -webkit-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   text-size-adjust: 100%;
   position: relative;
   width: 100%;
   min-height: 100vh;
   -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizeSpeed;
}

/* Box sizing normalization */
*,
::after,
::before {
   box-sizing: border-box;
}

/* Elements that don't have a class get default styles */
a:not([class]) {
   -webkit-text-decoration-skip: ink;
   text-decoration-skip-ink: auto;
}

/**
 * CSS Reset Tweaks
 *
 * http://meyerweb.com/eric/tools/css/reset/
 * v2.0-modified | 20110126
 * License: none (public domain)
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
   font-size: 100%;
   font: inherit;
   margin: 0;
   padding: 0;
   border: 0;
   vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
   outline: 0;
}

/* HTML5 display-role reset for older browsers */
main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
   display: block;
}

ol,
ul {
   list-style: none;
}

blockquote,
q {
   quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
   content: "";
   content: none;
}

/**
 * Input Reset
 */
input:required,
input {
   box-shadow: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
   -webkit-box-shadow: 0 0 0 30px white inset;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
   -webkit-appearance: none;
   -moz-appearance: none;
}

input[type=search] {
   -webkit-appearance: none;
   -moz-appearance: none;
   box-sizing: content-box;
}

textarea {
   overflow: auto;
   vertical-align: top;
   resize: vertical;
}

input:focus {
   outline: none;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
   display: inline-block;
   max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
   display: none;
   height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 */
[hidden] {
   display: none;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
   outline: none;
}

/* Make images easier to work with */
img {
   max-width: 100%;
   display: inline-block;
   vertical-align: middle;
   height: auto;
}

/* Make pictures easier to work with */
picture {
   display: inline-block;
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
   line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
   text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
   -webkit-appearance: button;
   cursor: pointer;
   border: 0;
   background: transparent;
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
   cursor: default;
}

[disabled] {
   pointer-events: none;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 */
input[type=checkbox],
input[type=radio] {
   padding: 0;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
   -webkit-appearance: textfield;
   box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
   -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
   border: 0;
   padding: 0;
}

button {
   border: 0;
   background: transparent;
}

textarea {
   overflow: auto;
   vertical-align: top;
   resize: vertical;
}

/**
 * Remove most spacing between table cells.
 */
table {
   border-collapse: collapse;
   border-spacing: 0;
   text-indent: 0;
}

/**
 * Based on normalize.css v8.0.1
 * github.com/necolas/normalize.css
 */
hr {
   box-sizing: content-box;
   overflow: visible;
   background: #000;
   border: 0;
   height: 1px;
   line-height: 0;
   margin: 0;
   padding: 0;
   page-break-after: always;
   width: 100%;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 */
pre {
   font-family: monospace, monospace;
   font-size: 100%;
}

/**
 * Remove the gray background on active links in IE 10.
 */
a {
   background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
   border-bottom: none;
   text-decoration: none;
}

code,
kbd,
pre,
samp {
   font-family: monospace, monospace;
}

/**
 * Add the correct font size in all browsers.
 */
small {
   font-size: 75%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
   font-size: 75%;
   line-height: 0;
   position: relative;
   vertical-align: baseline;
}

sub {
   bottom: -5px;
}

sup {
   top: -5px;
}

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
   font-family: inherit;
   font-size: 100%;
   line-height: 1;
   margin: 0;
   padding: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
   /* 1 */
   overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
   /* 1 */
   text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
   -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
   border-style: none;
   padding: 0;
   outline: 0;
}

legend {
   color: inherit;
   white-space: normal;
   display: block;
   border: 0;
   max-width: 100%;
   width: 100%;
}

fieldset {
   min-width: 0;
}

body:not(:-moz-handler-blocked) fieldset {
   display: block;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
   vertical-align: baseline;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
   height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
   -webkit-appearance: textfield;
   /* 1 */
   outline-offset: -2px;
   /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
   -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
   -webkit-appearance: button;
   /* 1 */
   font: inherit;
   /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in all browsers.
 */
summary {
   display: list-item;
}

/*
 * Misc
 * ========================================================================== */
template {
   display: none;
}

/*-----------------
    Typography
-------------------*/
body {
   font-size: var(--p);
   line-height: 28px;
   font-weight: 400;
   font-family: var(--font);
   color: var(--rts-para);
   overflow-x: hidden;
   letter-spacing: -0.5px;
}

a,
a:hover,
a:focus {
   text-decoration: none;
}

.font-xs {
   font-size: var(--p-xs);
}

.font-sm {
   font-size: 16px;
}

.rts__white {
   color: var(--rts-white);
}

h1,
.h1 {
   font-size: var(--h1);
   line-height: 90px;
}

h2,
.h2 {
   font-size: var(--h2);
   line-height: 70px;
}

h3,
.h3 {
   font-size: var(--h3);
   line-height: 58px;
}

h4,
.h4 {
   font-size: var(--h4);
   line-height: 50px;
}

h5,
.h5 {
   font-size: var(--h5);
   line-height: 42px;
}

h6,
.h6 {
   font-size: var(--h6);
   line-height: 38px;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
   color: var(--rts-heading);
   font-weight: 700;
}

p {
   font-size: var(--p);
}

.font-20 {
   font-size: 20px;
}

.text-dark {
   color: var(--rts-heading) !important;
}

.rts__section {
   position: relative;
}

.mtn-1 {
   margin-top: -10px;
}

.my-40 {
   margin: 40px 0;
}

.mb-40 {
   margin-bottom: 40px;
}

.mt-40 {
   margin-top: 40px;
}

.mt-30 {
   margin-top: 30px;
}

.mb-30 {
   margin-bottom: 30px;
}

.mb-50 {
   margin-bottom: 50px;
}

.mt-50 {
   margin-top: 50px;
}

.mb-60 {
   margin-bottom: 60px;
}

.ml-100 {
   margin-left: 100px;
}

.py-40 {
   padding-top: 40px;
   padding-bottom: 40px;
}

.pt-40 {
   padding-top: 40px;
}

.pt-60 {
   padding-top: 60px;
}

.pt-80 {
   padding-top: 80px;
}

.pb-60 {
   padding-bottom: 60px;
}

.pt-100 {
   padding-top: 100px;
}

.pb-100 {
   padding-bottom: 100px;
}

.pb-120 {
   padding-bottom: 120px;
}

.pb-130 {
   padding-bottom: 130px;
}

.pt-120 {
   padding-top: 120px;
}

.pt-260 {
   padding-top: 260px;
}

.pt-150 {
   padding-top: 150px;
}

.pt-155 {
   padding-top: 155px;
}

.pb-200 {
   padding-bottom: 200px;
}

.gap-30 {
   --bs-gutter-x: 30px;
}

.gy-30 {
   --bs-gutter-y: 30px;
}

.section__padding {
   padding-top: 110px;
   padding-bottom: 120px;
}

.max-contnet {
   max-width: -moz-max-content;
   max-width: max-content;
}

.max-content {
   max-width: -moz-max-content;
   max-width: max-content;
}

.g-30 {
   --bs-gutter-x: 30px;
   --bs-gutter-y: 30px;
}

.max-630 {
   max-width: 630px;
}

.max-750 {
   max-width: 750px;
}

.max-695 {
   max-width: 695px;
}

.max-360 {
   max-width: 360px;
}

.top-30 {
   top: 30px;
}

.end-30 {
   right: 30px;
}

.end--30 {
   right: -30px;
}

.left-20 {
   left: 20px;
}

.text-primary {
   color: var(--rts-primary) !important;
}

.l--1 {
   letter-spacing: -1px;
}

.l--3 {
   letter-spacing: -3px;
}

.focus-none:focus {
   outline: none;
   box-shadow: none;
}

@media only screen and (max-width: 768px) {
   .br-md-none br {
      display: none;
   }
}

.switch {
   position: relative;
   display: inline-block;
   width: 60px;
   height: 30px;
}

.switch input {
   opacity: 0;
   width: 0;
   height: 0;
}

.slider {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: var(--rts-button-1);
   transition: 0.4s;
}

.slider:before {
   position: absolute;
   content: "";
   height: 20px;
   width: 20px;
   left: 5px;
   bottom: 5px;
   background-color: white;
   transition: 0.4s;
}

.slider.round {
   border-radius: 34px;
}

.slider.round:before {
   border-radius: 50%;
}

input:checked+.slider {
   background-color: var(--rts-button-1);
}

input:checked+.slider:before {
   transform: translateX(30px);
}

.newsletter {
   position: relative;
   max-width: 310px;
}

.newsletter input {
   position: relative;
   padding: 20px 18px;
   padding-right: 120px;
   border-radius: 10px;
   border: 0;
   width: 100%;
}

.newsletter button {
   position: absolute;
   right: 15px;
   padding: 10px;
   border-radius: 6px;
   font-size: 16px;
}

.single__input {
   position: relative;
}

.job__cta__card .cta__content::after,
.rts__image__section,
.footer__home__four::after,
.footer__home__four,
.footer__home__three,
.funfact__bg,
.rts__testimonial__background,
.home__six__banner,
.home__three__banner,
.home__one__banner .rts__banner__background {
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.navigation__menu--item ul.submenu li a::before,
.navigation__menu--item .sub__style li a::before,
.navigation__menu--item::after {
   position: absolute;
   content: "";
}

/* ====== Header ====== */
.rts__menu__background {
   background-color: var(--rts-white);
   max-width: 1410px;
   padding: 15px 45px;
   border-radius: 0 0 30px 30px;
   margin: 0 auto;
}

.absolute__header {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   z-index: 9;
}

/*======= Banner Home One =======*/
.home__one__banner {
   position: relative;
   overflow: hidden;
}

.home__one__banner .rts__banner__background {
   background-image: url("../img/home-1/banner/header__background.svg");
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
}

.home__one__banner .rts__banner__background .__first {
   position: absolute;
   left: -3%;
   top: 0;
}

.home__one__banner .rts__banner__background .__second {
   position: absolute;
   right: 0;
   top: 0;
   z-index: 1;
}

.home__one__banner .rts__banner__content {
   position: relative;
   z-index: 1;
   max-width: 675px;
}

.home__one__banner .rts__banner__content .rts__banner__title {
   letter-spacing: -1px;
}

.home__one__banner .rts__banner__content .rts__banner__title span {
   color: var(--rts-button-1);
}

.home__one__banner .rts__banner__image {
   margin-top: -90px;
   z-index: 1;
}

.home__one__banner .rts__banner__image .banner__image__shape {
   position: absolute;
   top: 0;
   height: 100%;
   width: 100%;
}

.home__one__banner .rts__banner__image .banner__image__shape .facebook,
.home__one__banner .rts__banner__image .banner__image__shape .linkedin,
.home__one__banner .rts__banner__image .banner__image__shape .twitter {
   height: 62px;
   width: 62px;
   border-radius: 6px;
   background-color: var(--rts-white);
   font-size: 30px;
   display: grid;
   place-items: center;
   color: #7763e5;
   position: absolute;
   top: 0;
   left: 25%;
   box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
}

.home__one__banner .rts__banner__image .banner__image__shape .twitter {
   color: var(--rts-button-1);
   position: absolute;
   top: 22%;
   left: 5%;
}

.home__one__banner .rts__banner__image .banner__image__shape .linkedin {
   color: var(--rts-button-3);
   position: absolute;
   top: 28%;
   left: 88%;
}

.rts__job__search {
   background: #FFFFFF;
   box-shadow: 0px 30px 30px rgba(175, 175, 175, 0.16);
   border-radius: 16px;
   padding: 22px 20px;
}

.rts__job__search .single__input {
   min-width: 190px;
}

.rts__job__search .single__input label {
   font-size: 20px;
   font-weight: 500;
   color: var(--rts-heading);
   margin-bottom: 20px;
   text-transform: capitalize;
   letter-spacing: -1px;
   line-height: 1;
}

.rts__job__search .single__input .nice-select {
   border: none;
   padding: 0;
   font-size: 18px;
   height: auto;
   line-height: 1;
}

.rts__job__search .single__input .nice-select.open::before {
   content: "";
   font-family: var(--fontawesome-pro);
   transition: var(--transition);
}

.rts__job__search .single__input .nice-select::after {
   border-bottom: 0;
   border-right: 0;
}

.rts__job__search .single__input .nice-select::before {
   position: absolute;
   content: "";
   font-family: var(--fontawesome-pro);
   top: 50%;
   right: 0;
   transform: translateY(-50%);
   color: var(--rts-heading);
   font-size: 12px;
   transition: var(--transition);
}

.rts__job__search .job__search {
   min-width: 160px;
   height: 60px;
   text-align: center;
   border-radius: 10px;
}

/*======= Banner Home Three =======*/
.home__three__banner {
   background-image: url("../img/home-3/banner/home_three.png");
   padding-bottom: 140px;
   padding-top: 130px;
}

.home__three__banner .rts__banner__title {
   color: var(--rts-white);
   letter-spacing: -2px;
}

.home__three__banner p {
   color: var(--rts-white);
}

.home__three__banner .rts__banner__image {
   z-index: 1;
}

.home__three__banner .rts__banner__image .banner__image__shape {
   position: absolute;
   top: 0;
   height: 100%;
   width: 100%;
}

.home__three__banner .rts__banner__image .banner__image__shape .facebook,
.home__three__banner .rts__banner__image .banner__image__shape .linkedin,
.home__three__banner .rts__banner__image .banner__image__shape .twitter {
   height: 62px;
   width: 62px;
   border-radius: 6px;
   background-color: var(--rts-white);
   font-size: 30px;
   display: grid;
   place-items: center;
   color: #7763e5;
   position: absolute;
   top: 5%;
   left: 18%;
   box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
}

.home__three__banner .rts__banner__image .banner__image__shape .twitter {
   color: var(--rts-button-1);
   position: absolute;
   top: 38%;
   left: 5%;
}

.home__three__banner .rts__banner__image .banner__image__shape .linkedin {
   color: var(--rts-button-3);
   position: absolute;
   top: 30%;
   left: 80%;
}

.current__job {
   background-color: var(--rts-white);
   border-radius: 10px;
   padding: 15px 20px;
   max-width: -moz-max-content;
   max-width: max-content;
   align-items: center;
   position: absolute;
   bottom: 50px;
   right: -50px;
}

.rts__icon {
   height: 64px;
   width: 64px;
   background-color: #F4F6F5;
   display: grid;
   place-items: center;
   border-radius: 4px;
}

.rts__text span {
   color: var(--rts-button-3);
   display: block;
}

.rts__job__search.form-2 {
   background: #FFFFFF;
   box-shadow: unset;
   border-radius: 16px;
   padding: 10px 20px;
}

.rts__job__search.form-2 .single__input {
   max-width: 230px;
   min-width: 230px;
}

.rts__job__search.form-2 .single__input input {
   padding: 12px 20px 12px 40px;
   border-radius: 6px;
   background: var(--rts-gray);
   border: none;
   line-height: 1;
}

.rts__job__search.form-2 .single__input .search__icon,
.rts__job__search.form-2 .single__input .location__icon {
   position: absolute;
   top: 50%;
   left: 15px;
   transform: translateY(-50%);
   color: var(--rts-heading);
}

.rts__job__search.form-2 .single__input .nice-select {
   padding: 14px 20px 14px 40px;
   border-radius: 6px;
   background: var(--rts-gray);
   border: none;
   line-height: 1;
   font-size: 18px;
}

.rts__job__search.form-2 .single__input .nice-select.open::before {
   content: "";
   font-family: var(--fontawesome-pro);
   transition: var(--transition);
}

.rts__job__search.form-2 .single__input .nice-select::after {
   border-bottom: 0;
   border-right: 0;
}

.rts__job__search.form-2 .single__input .nice-select::before {
   position: absolute;
   content: "";
   font-family: var(--fontawesome-pro);
   top: 50%;
   right: 15px;
   transform: translateY(-50%);
   color: var(--rts-heading);
   font-size: 12px;
   transition: var(--transition);
}

.rts__job__search.form-2 .job__search {
   min-width: 160px;
   height: 50px;
   text-align: center;
   border-radius: 10px;
}

/* ======= Banner Home Four =======*/
.home__four__banner {
   background-color: var(--rts-gray);
}

.home__four__banner .rts__banner__content {
   min-width: 730px;
}

.home__four__banner .rts__banner__image figure.banner__image {
   height: 530px;
   width: 730px;
}

.rts__job__search.form-4 {
   max-width: 665px;
   border-radius: 0;
   padding: 15px 20px;
}

.rts__job__search.form-4 input {
   width: 100%;
   border: 0;
   padding-right: 15px;
}

.rts__job__search.form-4 .job__search {
   border-radius: 0;
   height: 50px;
   min-width: 130px;
}

/* ======= Banner Home Five =======*/
.home__five__banner {
   background-image: url("../img/home-5/banner/banner__background.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   border-bottom-left-radius: 160px;
}

.home__five__banner .rts__banner__content {
   min-width: 750px;
}

.home__five__banner .rts__banner__desc {
   color: var(--rts-gray);
}

.home__five__banner .rts__job__search.form-2 {
   box-shadow: 0px 30px 30px rgba(20, 22, 55, 0.1);
   padding: 15px;
}

.home__five__banner .rts__banner__image {
   margin-bottom: -160px;
   margin-top: -35px;
}

.home__five__banner .rts__banner__image img {
   max-width: 900px;
   height: 600px;
   border-radius: 16px;
   border-bottom-right-radius: 140px;
}

.home__five__banner .applicant {
   bottom: 50px;
}

.home__five__banner .rts__banner__shape {
   position: absolute;
   height: 100%;
   width: 100%;
}

.home__five__banner .rts__banner__shape .shape__one,
.home__five__banner .rts__banner__shape .shape__two {
   height: 68px;
   width: 68px;
   border-radius: 50%;
   background: linear-gradient(180deg, #58D379 0%, #44B964 100%);
}

.home__five__banner .rts__banner__shape .shape__one {
   position: absolute;
   left: -10%;
   bottom: 40%;
}

.home__five__banner .rts__banner__shape .shape__two {
   position: absolute;
   right: 25%;
   top: 15%;
}

.home__five__banner .rts__banner__shape .shape__three {
   position: absolute;
   bottom: 20%;
   left: 15%;
}

/* ====== Banner Home Six ======= */
.home__six__banner {
   padding-top: 180px;
   padding-bottom: 150px;
   background-image: url("../img/home-6/banner/banner__bg.png");
   margin: 0 65px;
   position: relative;
}

.home__six__banner *> {
   position: relative;
   z-index: 1;
}

.home__six__banner .rounded-full {
   border-radius: 125px;
   position: relative;
   top: -30px;
}

.home__six__banner .rts__banner__shape {
   position: absolute;
   height: 100%;
   width: 100%;
   left: 0;
   top: 0;
}

.home__six__banner .rts__banner__shape .shape {
   height: 60px;
   width: 60px;
   place-items: center;
   display: grid;
   box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
   border-radius: 6px;
   background-color: var(--rts-white);
}

.home__six__banner .rts__banner__shape .shape__one {
   position: absolute;
   left: 35%;
   top: 6%;
}

.home__six__banner .rts__banner__shape .shape__two {
   position: absolute;
   right: 40%;
   top: 6%;
}

.home__six__banner .rts__banner__shape .shape__three {
   position: absolute;
   left: 35%;
   bottom: 25%;
}

.home__six__banner .rts__banner__shape .shape__four {
   position: absolute;
   right: 40%;
   bottom: 25%;
}

.home__six__banner .rts__banner__shape .shape__five {
   position: absolute;
   left: 10%;
   top: 30%;
}

.home__six__banner .rts__banner__shape .shape__six {
   position: absolute;
   right: 10%;
   top: 30%;
}

.rts__brand {
   position: relative;
   bottom: 60px;
   margin-bottom: -60px;
}

.rts__brand .bg-white {
   box-shadow: 0px 4px 40px rgba(166, 166, 166, 0.16);
   border-radius: 10px;
   padding: 30px 35px;
}

.featured__bg {
   background-color: var(--rts-button-3);
}

.featured__job {
   color: var(--rts-white);
}

.featured__job .rts__section__title {
   color: var(--rts-white);
}

.rts__testimonial__background {
   background-image: url("../img/home-1/testimonial/testimonial__bg.png");
}

.rts__single__testimonial .testimonial__text {
   color: var(--rts-para);
   font-weight: 600;
   letter-spacing: -1%;
}

.rts__single__testimonial .author__image img {
   height: 60px;
   width: 60px;
   border-radius: 50%;
}

.testimonial__style__three .testimonial__text {
   font-size: 36px;
   font-weight: 600;
   color: var(--rts-heading);
   line-height: 55px;
}

.testimonial__style__three .slider__btn {
   background-color: var(--rts-gray) !important;
}

.testimonial__style__three .slider__btn:hover {
   background-color: var(--rts-button-3) !important;
   color: var(--rts-white) !important;
}

.rts__single__testimonial.style__four {
   margin: 50px;
   padding: 30px 80px;
   position: relative;
   background-color: var(--rts-white);
   box-shadow: 0px 4px 80px rgba(28, 28, 28, 0.1);
}

.rts__single__testimonial.style__four .author__image img {
   height: 70px;
   width: 70px;
   border-radius: 0;
}

.rts__single__testimonial.style__four .rts__rating i {
   color: var(--rts-button-1);
}

.client__image img {
   border-radius: 16px;
   border-bottom-right-radius: 160px;
}

.testimonial__content p {
   font-size: 38px;
   line-height: 60px;
   font-weight: 600;
   font-style: italic;
   color: var(--rts-heading);
}

.testimonial__content .rts__rating i {
   color: var(--rts-button-1);
   font-size: 25px;
}

.rts__single__counter {
   position: relative;
}

.rts__single__counter .counter__round {
   height: 40px;
   width: 40px;
   border-radius: 50%;
   background: linear-gradient(228.34deg, #FEF2EB 0%, #F1F1F1 46.31%, #E4E0EA 100%);
   position: absolute;
   top: 0;
   left: 0;
   z-index: -1;
}

.rts__single__counter .heading__color {
   color: var(--rts-button-1);
}

.rts__single__counter p {
   color: var(--rts-para);
}

.funfact__bg {
   background-image: url("../img/home-3/funfact__bg.png");
}

.funfact__style__two .rts__single__counter {
   text-align: center;
}

.funfact__style__two p {
   color: var(--rts-white);
}

.funfact__style__two .heading__color {
   color: var(--rts-white);
}

.rts__appcenter {
   background-color: var(--rts-button-1);
   border-radius: 10px;
   position: relative;
   overflow: hidden;
   max-height: 430px;
}

.rts__appcenter>* {
   position: relative;
   z-index: 1;
}

.rts__appcenter__shape {
   position: absolute;
   top: 0;
   left: 0;
}

.rts__appcenter .content__left {
   padding-left: 100px;
}

.rts__appcenter .content__right {
   padding: 90px 80px 90px 0;
}

.rts__appcenter .top-15px {
   top: 15px;
}

.about__image img {
   max-width: 100%;
   height: 650px;
   border-radius: 16px 16px 16px 160px;
}

.step__icon {
   height: 76px;
   min-width: 76px;
   background-color: var(--rts-gray);
   color: var(--rts-primary);
   font-size: 24px;
   font-weight: 600;
   display: grid;
   align-items: center;
   justify-content: center;
   border-radius: 4px;
}

.spacing {
   margin-top: -120px;
   position: relative;
}

.about__content {
   padding: 60px 90px 60px 60px;
   box-shadow: 0px 4px 50px rgba(132, 132, 132, 0.16);
   border-radius: 16px 16px 160px 16px;
   min-width: 690px;
   background-color: var(--rts-white);
}

.about__shape.max-content {
   left: 30%;
   position: absolute;
   z-index: -1;
}

.about__section__bg {
   background-color: #F5F3EA;
}

.shape__image {
   position: absolute;
   left: -50.5%;
   bottom: -10%;
}

.about__image__section .about__image__one img {
   border-radius: 10px;
}

.about__image__section .about__applicant {
   position: absolute;
   left: 50%;
   transform: translate(-50%);
   bottom: 30px;
   z-index: 1;
}

.about__image__section .about__image__two {
   position: relative;
   bottom: 50px;
}

.about__image__section .about__image__two img {
   border-radius: 160px;
}

.rts__listing.style__six .single__listing .icon {
   background-color: var(--rts-button-3);
}

.apply__area__bg {
   background-color: #F5F3EA;
   border-radius: 16px;
   padding: 95px 60px;
}

.apply__area__img {
   position: absolute;
   bottom: -100px;
   left: 0;
}

.apply__area__img img {
   max-height: 305px;
}

.shape__image__six {
   position: absolute;
   left: 35%;
   top: 0;
}

.max-320 {
   max-width: 320px;
}

.max-410 {
   max-width: 410px;
}

.footer__home__one {
   background-image: url("../img/footer/footer__bg.png");
}

.rts__footer__widget ul li {
   margin-bottom: 10px;
}

.rts__footer__widget ul li:last-child {
   margin-bottom: 0;
}

.rts__footer__widget ul li a {
   display: flex;
   gap: 10px;
   align-items: center;
   color: var(--rts--para);
   font-size: 16px;
   font-weight: 500;
   transition: var(--transition);
}

.rts__footer__widget ul li a i {
   color: var(--rts-primary);
}

.rts__footer__widget ul li a:hover {
   color: var(--rts-primary);
}

.rts__copyright {
   border-top: 1px solid rgba(125, 128, 135, 0.1);
}

.footer__home__three {
   background-image: url("../img/home-3/footer__bg.png");
}

.footer__newsletter__three {
   max-width: 490px;
   background-color: var(--rts-white);
   padding: 10px 10px 10px 20px;
   border-radius: 4px;
}

.footer__newsletter__three input {
   border: 0;
}

.footer__newsletter__three .newsletter__btn {
   padding: 13px;
   border-radius: 4px;
   background-color: var(--rts-heading);
   color: var(--rts-white);
   border: 0;
   font-size: 16px;
}

.footer__bottom {
   border-top: 1px solid rgba(241, 241, 241, 0.1);
}

.footer__home__four {
   padding-top: 120px;
   position: relative;
}

.footer__home__four::after {
   position: absolute;
   content: "";
   height: 100%;
   width: 100%;
   right: 0;
   top: 0;
   z-index: -1;
   background-image: url("../img/hom-4/footer__bg.svg");
}

.newsletter.style-border {
   max-width: 385px;
   border-radius: 4px;
}

.newsletter.style-border input {
   border-radius: 4px;
}

.style-border {
   border: 1px solid #DDD8F9;
}

.app__icon img {
   max-width: 165px;
   height: 54px;
}

.footer__five__copy {
   background-color: var(--rts-primary);
}

.footer__home__six {
   background-color: #F5F3EA;
}

.footer__six__copy p {
   color: var(--rts-para);
}

.navigation__menu ul {
   display: flex;
   max-width: -moz-max-content;
   max-width: max-content;
   position: relative;
   padding: 0;
   margin: 0;
}

.navigation__menu--item {
   position: relative;
   margin: 0 20px;
}

@media screen and (max-width: 1400px) {
   .navigation__menu--item {
      margin: 0 25px;
   }
}

.navigation__menu--item:last-child {
   margin-right: 0;
}

.navigation__menu--item:last-child::after {
   display: none;
}

.navigation__menu--item:first-child {
   margin-left: 0;
}

.navigation__menu--item:hover>a {
   color: var(--rts-heading) !important;
}

.navigation__menu--item::after {
   height: 2px;
   width: 2px;
   border-radius: 50px;
   background: var(--gray-1);
   top: 50%;
   right: -31px;
}

.navigation__menu--item__link {
   position: relative;
   font-size: 16px;
   text-transform: capitalize;
   padding: 15px 0;
   font-weight: 600;
   display: block;
   color: var(--rts-heading);
}

.navigation__menu--item.has-child:hover ul.submenu {
   opacity: 1;
   visibility: visible;
   transform: scaleY(1);
}

.navigation__menu--item.has-child:hover ul.submenu li.has-child:hover ul {
   opacity: 1;
   visibility: visible;
   transform: scaleY(1);
}

.navigation__menu--item.has-arrow {
   position: relative;
}

.navigation__menu--item.has-arrow::before {
   position: absolute;
   content: "";
   font-family: var(--fontawesome-pro);
   top: 50%;
   right: -15px;
   transform: translateY(-50%);
   color: var(--rts-heading);
   font-size: 12px;
   transition: var(--transition);
}

.navigation__menu--item.has-arrow:hover::before {
   content: "";
   font-family: var(--fontawesome-pro);
   transition: var(--transition);
}

.navigation__menu--item ul.submenu,
.navigation__menu--item .sub__style {
   position: absolute;
   top: 100%;
   min-width: 200px;
   background: var(--white);
   z-index: 1024;
   display: inline-block;
   opacity: 0;
   padding: 30px 0;
   transform: scaleY(0);
   transform-origin: top center;
   visibility: hidden;
   transition: var(--transition);
   left: 0;
   box-shadow: 0 36px 35px rgba(0, 0, 0, 0.08);
}

.navigation__menu--item ul.submenu li,
.navigation__menu--item .sub__style li {
   position: relative;
   display: block;
   padding: 0 30px;
}

.navigation__menu--item ul.submenu li:last-child,
.navigation__menu--item .sub__style li:last-child {
   margin-bottom: 0;
}

.navigation__menu--item ul.submenu li:hover>a,
.navigation__menu--item .sub__style li:hover>a {
   color: var(--base-color);
}

.navigation__menu--item ul.submenu li:hover>a::before,
.navigation__menu--item .sub__style li:hover>a::before {
   width: 80%;
}

.navigation__menu--item ul.submenu li:not(:last-child),
.navigation__menu--item .sub__style li:not(:last-child) {
   margin: 0 0 15px;
}

.navigation__menu--item ul.submenu li.has-arrow,
.navigation__menu--item .sub__style li.has-arrow {
   position: relative;
}

.navigation__menu--item ul.submenu li.has-arrow::before,
.navigation__menu--item .sub__style li.has-arrow::before {
   position: absolute;
   content: "+";
   font-family: var(--fontawesome);
   top: 50%;
   right: 25px;
   transform: translateY(-50%);
   color: var(--gray-1);
   font-size: 12px;
   transition: var(--transition);
}

.navigation__menu--item ul.submenu li.has-arrow:hover::before,
.navigation__menu--item .sub__style li.has-arrow:hover::before {
   content: "";
   font-family: var(--fontawesome-pro);
   transition: var(--transition);
}

.navigation__menu--item ul.submenu li a,
.navigation__menu--item .sub__style li a {
   padding: 0;
   font-size: 15px;
   text-transform: capitalize;
   font-weight: 400;
   position: relative;
   color: var(--gray-1);
}

.navigation__menu--item ul.submenu li a::before,
.navigation__menu--item .sub__style li a::before {
   left: 0;
   bottom: 0;
   width: 0;
   height: 1px;
   background: var(--base-color);
   transition: var(--transition);
}

.navigation__menu--item ul.submenu li a:hover::before,
.navigation__menu--item .sub__style li a:hover::before {
   width: 100%;
}

.navigation__menu--item ul.submenu li ul,
.navigation__menu--item .sub__style li ul {
   top: 0;
   position: absolute;
   left: 100%;
   visibility: hidden;
   transform: scaleY(0);
   transform-origin: top center;
   opacity: 0;
   transition: var(--transition);
}

.header__sticky {
   position: relative;
   top: 0;
   display: block;
   width: 100%;
   box-shadow: none;
   background: transparent;
   z-index: 999;
   margin: auto;
   align-items: center;
   left: 0;
   border-radius: 0;
   transition: all 0.5s ease-in-out;
   top: 0;
   transform: translateY(0);
}

.header__sticky.fixed {
   position: fixed !important;
   box-shadow: 0px 7px 18px #1810100d;
   background: var(--white);
}

.rts__btn {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   line-height: 100%;
   cursor: pointer;
   text-align: center;
}

.rts__btn:active {
   color: inherit;
}

.rts__btn:focus {
   outline: none;
}

.rts__btn:disabled {
   cursor: not-allowed;
}

.fill__btn {
   background-color: var(--rts-button-1);
   border: 1px solid var(--rts-button-1);
   transition: var(--transition);
   color: var(--rts-white);
}

.fill__btn:hover {
   background-color: var(--rts-button-3);
   border-color: var(--rts-button-3);
}

.fill__btn.he-3 {
   background-color: var(--rts-button-3);
   border-color: var(--rts-button-3);
}

.no__fill__btn {
   background-color: transparent;
   border: 1px solid var(--rts-button-1);
   transition: var(--transition);
   color: var(--rts-button-1);
}

.no__fill__btn:hover {
   background-color: var(--rts-button-3);
   border-color: var(--rts-button-3);
   color: var(--rts-white);
}

.no__fill__btn.he-3 {
   border-color: var(--rts-button-3);
   color: var(--rts-button-3);
}

.no__fill__btn.he-3:hover {
   background-color: var(--rts-button-3);
   border-color: var(--rts-button-3);
   color: var(--rts-white);
}

.small__btn {
   height: 40px;
   padding: 0 22px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: 500;
}

.pricing__btn {
   padding: 17px 35px;
   color: var(--rts-heading);
   font-weight: 600;
   font-size: 16px;
   border: 1px solid var(--rts-button-1);
   background-color: var(--rts-white);
   border-radius: 10px;
   transition: var(--transition);
}

.pricing__btn:hover {
   background-color: var(--rts-button-1);
   color: var(--rts-white);
   border-color: var(--rts-button-1);
}

.common__btn {
   display: inline-flex;
   align-items: center;
   gap: 10px;
   border-radius: 10px;
   padding: 15px 16px;
}

.border-4 {
   border-radius: 4px;
}

.border-6 {
   border-radius: 6px;
}

.border-10 {
   border-radius: 10px;
}

.rts__section__content .rts__section__title {
   letter-spacing: -2px;
}

.rts__workprocess__box {
   background: linear-gradient(226.58deg, #FEF2EB 1.52%, #F1F1F1 47.05%, #E4E0EA 99.84%);
   padding: 30px 42px;
   text-align: center;
}

.rts__workprocess__box .rts__icon {
   height: 76px;
   width: 76px;
   background-color: var(--rts-white);
   box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
   border-radius: 6px;
   display: grid;
   place-items: center;
   margin: 0 auto 20px;
}

.rts__workprocess__box .rts__icon img {
   height: 40px;
   width: 40px;
}

.rts__workprocess__box .process__title {
   margin-bottom: 15px;
}

.rts__workprocess__box .work__readmore a {
   display: flex;
   gap: 10px;
   justify-content: center;
   align-items: center;
   font-weight: 500;
   letter-spacing: -0.5px;
   color: var(--rts-heading);
}

.rts__workprocess__box .work__readmore a i {
   color: var(--rts-button-1);
}

.single__feature__list {
   margin-top: 45px;
   display: flex;
   flex-direction: column;
   gap: 30px;
}

.single__feature__list .single__item .icon {
   height: 76px;
   width: 76px;
   background-color: var(--rts-gray);
   display: grid;
   place-items: center;
   border-radius: 6px;
}

.single__feature__list .single__item .content .h6 {
   font-weight: 600;
}

.rts__workprocess__image {
   position: relative;
}

.rts__workprocess__image img {
   max-height: 700px;
   border-top-left-radius: 320px;
   border-top-right-radius: 320px;
}

.rts__workprocess__image .rts__applicants {
   position: absolute;
   bottom: 50px;
   left: -150px;
}

.rts__applicants {
   max-width: -moz-max-content;
   max-width: max-content;
   border-radius: 10px;
   background-color: var(--rts-white);
   padding: 20px 30px;
   box-shadow: 0px 4px 40px rgba(61, 61, 61, 0.16);
}

.rts__applicants .font-20 {
   color: var(--rts-heading);
}

.applicant__list {
   display: flex;
   margin-right: 15px;
}

.applicant__list .single__list {
   margin-right: -15px;
   position: relative;
}

.applicant__list .single__list .icon-plus {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   height: 100%;
   width: 100%;
   background-color: rgba(85, 60, 223, 0.6);
   border-radius: 50%;
   display: grid;
   place-items: center;
   color: var(--rts-white);
   font-size: 20px;
   border: 5px solid #F9F8FF;
}

.applicant__list .single__list img {
   height: 56px;
   width: 56px;
   border-radius: 50%;
   display: grid;
   place-items: center;
   border: 5px solid #F9F8FF;
}

/* ==== Cat Slider ==== */
.cat__slider__bg {
   position: relative;
   background-color: var(--rts-gray);
}

.single__cat,
.cat__style__two .single__cat {
   padding: 22px 30px;
   border-radius: 10px;
   background-color: var(--rts-white);
   max-width: -moz-max-content;
   max-width: max-content;
   min-width: 305px;
}

.single__cat__icon {
   height: 60px;
   width: 60px;
   display: grid;
   place-items: center;
   border-radius: 6px;
   background-color: var(--rts-gray);
}

.single__cat__link a {
   font-size: 24px;
   color: var(--rts-heading);
   font-weight: 600;
}

.single__cat__link span {
   margin-top: 5px;
   font-weight: 500;
   line-height: 1;
}

.cat__style__two .single__cat {
   border: 1px solid rgba(125, 128, 135, 0.3);
   background-color: transparent;
   transition: var(--transition);
   margin: 2px 0;
}

.cat__style__two .single__cat:hover {
   background: var(--rts-white);
   box-shadow: 0px 4px 40px rgba(73, 73, 73, 0.1);
   border-color: var(--rts-white);
}

.rts__slider__control .slider__btn {
   height: 43px;
   width: 40px;
   background-color: var(--rts-white);
   border-radius: 6px;
   display: grid;
   place-items: center;
   font-size: 14px;
   transition: var(--transition);
}

.rts__slider__control .slider__btn:hover {
   background-color: var(--rts-button-1);
   color: var(--rts-white);
}

.rts__slider__control .rts__pagination {
   max-width: -moz-max-content;
   max-width: max-content;
   margin: 0 auto;
}

.rts__slider__control .rts__pagination .swiper-pagination-bullet {
   height: 10px;
   width: 10px;
   border-radius: 50%;
   background-color: var(--rts-para);
   transition: var(--transition);
}

.rts__slider__control .rts__pagination .swiper-pagination-bullet-active {
   background-color: var(--rts-button-3);
   width: 45px;
   border-radius: 5px;
}

.style-gray .slider__btn {
   background-color: var(--rts-gray);
}

.single__cat.style__five {
   align-items: center;
   transition: var(--transition);
   padding: 15px 20px;
   background-color: rgba(241, 241, 241, 0.3);
   box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
}

.single__cat.style__five .single__cat__icon {
   height: 70px;
   width: 70px;
}

.single__cat.style__five:hover {
   background-color: var(--rts-button-1);
}

.single__cat.style__five:hover .single__cat__link a {
   color: var(--rts-white);
}

.single__cat.style__five:hover span {
   color: var(--rts-white);
}

.single__cat.style__six {
   padding: 17px 30px;
   max-width: 100%;
   background: var(--rts-white);
   box-shadow: 0px 4px 40px rgba(166, 166, 166, 0.16);
   border-radius: 10px;
   transition: var(--transition);
}

.single__cat.style__six .single__cat__icon {
   height: 70px;
   min-width: 70px;
   display: grid;
   place-items: center;
   background-color: var(--rts-gray);
   border-radius: 10px;
}

.single__cat.style__six:hover {
   background: #0B0D28;
}

.single__cat.style__six:hover .single__cat__link a {
   color: var(--rts-white);
}

.single__cat.style__six:hover span {
   color: var(--rts-white);
}

.rts__job__card {
   padding: 30px;
   border: 1px solid #dcdddf;
   border-radius: 10px;
   position: relative;
   transition: var(--transition);
}

.rts__job__card::before {
   background: linear-gradient(228.34deg, #FEF2EB 0%, #F1F1F1 46.31%, #E4E0EA 100%);
   content: "";
   position: absolute;
   height: 100%;
   width: 100%;
   inset: 0;
   border-radius: inherit;
   z-index: -1;
   opacity: 0;
   border: 0;
   transition: var(--transition);
}

.rts__job__card:hover {
   border-color: transparent;
}

.rts__job__card:hover .company__icon {
   background-color: var(--rts-white);
}

.rts__job__card:hover .featured__option span {
   background-color: var(--rts-white);
}

.rts__job__card:hover::before {
   opacity: 1;
}

.rts__job__card .company__icon {
   height: 60px;
   width: 60px;
   display: grid;
   place-items: center;
   border-radius: 6px;
   background-color: var(--rts-gray);
   transition: var(--transition);
}

.rts__job__card .featured__option span {
   background-color: var(--rts-gray);
   border-radius: 6px;
   padding: 10px;
   line-height: 1;
   font-size: 16px;
   display: block;
   transition: var(--transition);
   color: var(--rts-button-1);
}

.rts__job__card .job__title a {
   color: var(--rts-heading);
}

.rts__job__card .job__tags a {
   padding: 10px;
   border-radius: 6px;
   background-color: var(--rts-gray);
   color: var(--rts-para);
   line-height: 1;
   text-transform: capitalize;
   transition: var(--transition);
   font-size: 16px;
}

.rts__job__card .job__tags a:hover {
   color: var(--rts-white);
   background-color: var(--rts-button-1);
}

.rts__job__card__big {
   background-color: var(--rts-white);
   border-radius: 10px;
   padding: 30px;
}

.rts__job__card__big .company__icon {
   height: 120px;
   width: 120px;
   border-radius: 50%;
   background-color: var(--rts-gray);
   display: grid;
   place-items: center;
}

.rts__job__card__big .company__icon img {
   height: 75px;
   width: 75px;
}

.rts__job__card__big .job__meta {
   color: var(--rts-para);
}

.rts__job__card__big .job__meta .job__title {
   color: var(--rts-heading);
}

.rts__job__card__big .job__meta i {
   color: var(--rts-heading);
}

.rts__job__card__big .job__meta span.badge {
   color: var(--rts-button-1);
   padding: 10px;
   font-weight: 500;
   background: linear-gradient(228.34deg, #FEF2EB 0%, #F1F1F1 46.31%, #E4E0EA 100%), #FFFFFF;
   border-radius: 6px;
}

.rts__job__card__big .job__tags a {
   padding: 10px;
   border-radius: 6px;
   background-color: transparent;
   color: var(--rts-para);
   line-height: 1;
   text-transform: capitalize;
   transition: var(--transition);
   border: 1px solid #F1F1F1;
}

.rts__job__card__big .job__tags a:hover {
   color: var(--rts-white);
   background-color: var(--rts-button-3);
}

.rts__job__card__big .job__sallery {
   color: var(--rts-para);
   font-weight: 500;
}

.rts__job__card__big .job__sallery span {
   font-size: 12px;
}

.rts__job__card__big .job__sallery i {
   color: var(--rts-heading);
   transform: rotate(45deg);
   margin-top: -5px;
}

.apply__btn {
   padding: 20px;
   border-radius: 10px;
   background-color: #F1F1F1;
   color: var(--rts-heading);
   transition: var(--transition);
}

.apply__btn:hover {
   background-color: var(--rts-button-3);
   color: var(--rts-white);
}

.rts__single__employer {
   padding: 20px 30px;
   background-color: transparent;
   border: 1px solid rgba(125, 128, 135, 0.3);
   border-radius: 10px;
   transition: var(--transition);
}

.rts__single__employer .icon {
   height: 60px;
   width: 60px;
   display: grid;
   place-items: center;
   border-radius: 6px;
   background-color: var(--rts-gray);
   transition: var(--transition);
}

.rts__single__employer:hover {
   box-shadow: 0px 4px 40px rgba(73, 73, 73, 0.1);
   background-color: var(--rts-white);
   border-color: var(--rts-white);
}

.rts__job__card.style__four {
   position: relative;
   text-align: center;
   border-radius: 0;
}

.rts__job__card.style__four:hover {
   background-color: var(--rts-gray);
}

.rts__job__card.style__four:hover .fill__btn {
   background-color: var(--rts-button-1);
   color: var(--rts-white);
}

.rts__job__card.style__four .fill__btn {
   padding: 18px 20px;
   border-radius: 0;
   background-color: var(--rts-gray);
   border: 0;
   color: var(--rts-heading);
   font-weight: 600;
   margin-top: 30px;
   text-transform: capitalize;
}

.rts__job__card.style__five:hover {
   background-color: var(--rts-button-1);
   color: var(--rts-white);
}

.rts__job__card.style__five:hover .job__title {
   color: var(--rts-white);
}

.rts__job__card.style__six {
   background-color: var(--rts-white);
   border: none;
   box-shadow: 0px 4px 40px rgba(166, 166, 166, 0.16);
   border-radius: 10px;
}

.rts__job__card.style__six:hover {
   background-color: var(--rts-button-3);
   color: var(--rts-white);
}

.rts__job__card.style__six:hover .job__title {
   color: var(--rts-white);
}

.rts__single__employer.style__six {
   background-color: var(--rts-white);
   border: 0;
   box-shadow: 0px 4px 40px rgba(166, 166, 166, 0.16);
   border-radius: 10px;
   transition: var(--transition);
}

.rts__single__employer.style__six:hover {
   background-color: var(--rts-button-3);
   color: var(--rts-white);
}

.rts__single__employer.style__six:hover .content a.text-dark {
   color: var(--rts-white) !important;
}

.rts__single__employer.style__six:hover .apply__btn {
   background-color: var(--rts-white);
   color: var(--rts-button-3);
}

.rts__image__section {
   background-image: url(../img/home-1/we-are/image__bg.svg);
   border-radius: 10px;
   padding-top: 25px;
   padding-left: 40px;
   padding-right: 30px;
}

.rts__content__section {
   max-width: 600px;
}

.rts__listing {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 20px;
}

.single__listing .icon {
   height: 22px;
   width: 22px;
   border-radius: 50%;
   background-color: var(--rts-button-1);
   display: grid;
   place-items: center;
   font-size: 16px;
   color: var(--rts-white);
}

.rts__pricing__box {
   padding: 30px;
   border: 1px solid rgba(125, 128, 135, 0.3);
   border-radius: 10px;
   transition: var(--transition);
   position: relative;
}

.rts__pricing__box::before {
   content: "";
   position: absolute;
   height: 100%;
   width: 100%;
   inset: 0;
   border-radius: inherit;
   z-index: -1;
   opacity: 0;
   transition: var(--transition);
   background: linear-gradient(228.34deg, #FEF2EB 0%, #F1F1F1 46.31%, #E4E0EA 100%);
}

.rts__pricing__box:hover {
   border-color: transparent;
}

.rts__pricing__box:hover::before {
   opacity: 1;
}

.rts__pricing__box:hover .pricing__btn {
   background-color: var(--rts-button-1);
   color: var(--rts-white);
}

.plan__feature {
   display: flex;
   flex-direction: column;
   gap: 25px;
}

.plan__feature li {
   display: flex;
   gap: 15px;
   align-items: center;
}

.plan__feature li i {
   color: var(--rts-primary);
   font-size: 14px;
}

.monthly__pricing,
.yearly__pricing {
   display: none;
   transition: var(--transition);
}

.monthly__pricing.active,
.yearly__pricing.active {
   display: block;
}

.pricing__style__three .plan__feature li i {
   color: var(--rts-primary);
   font-size: 20px;
}

.pricing__style__three .pricing__btn {
   border-color: #7D8087;
}

.pricing__style__three:hover {
   background-color: var(--rts-button-3);
   color: var(--rts-white);
}

.pricing__style__three:hover .pricing__btn {
   background-color: var(--rts-white);
   color: var(--rts-button-3);
   border-color: var(--rts-white);
}

.pricing__style__three:hover .plan__price span.h4 {
   color: var(--rts-white);
}

.pricing__style__three:hover .plan__feature li i {
   color: var(--rts-white);
}

.pricing__style__three:hover .text-dark {
   color: var(--rts-white) !important;
}

.rts__pricing__tab .nav-link {
   background-color: var(--rts-gray);
   padding: 15px 20px;
   border-radius: 6px;
   color: var(--rts-button-3);
}

.rts__pricing__tab .nav-link.active {
   background-color: var(--rts-button-3);
   color: var(--rts-white);
}

.rts__single__blog {
   padding: 18px 18px 30px 18px;
   border-radius: 10px;
   border: 1px solid rgba(125, 128, 135, 0.3);
   position: relative;
}

.rts__single__blog::before {
   content: "";
   position: absolute;
   inset: 0;
   height: 100%;
   width: 100%;
   background: linear-gradient(228.34deg, #FEF2EB 0%, #F1F1F1 46.31%, #E4E0EA 100%);
   border-radius: inherit;
   z-index: -1;
   opacity: 0;
   transition: var(--transition);
}

.rts__single__blog:hover {
   border-color: transparent;
}

.rts__single__blog:hover::before {
   opacity: 1;
}

.rts__single__blog:hover .readmore__btn i {
   transform: rotate(0deg);
}

.rts__single__blog .blog__img img {
   border-radius: 10px;
   min-height: 240px;
   -o-object-fit: cover;
   object-fit: cover;
   transition: var(--transition);
   transform: scale(1);
   overflow: hidden;
}

.blog__meta {
   padding: 12px 12px 0 12px;
}

.blog__meta__info span,
.blog__meta__info a {
   font-size: 16px;
   color: var(--rts-para);
}

.readmore__btn {
   color: var(--rts-heading);
   font-weight: 500;
}

.readmore__btn i {
   color: var(--rts-primary);
   transform: rotate(-35deg);
   transition: var(--transition);
}

.rts__single__blog.blog__style__four:hover::before {
   background: var(--rts-gray);
}

.rts__single__blog.style__six {
   background-color: var(--rts-white);
   border: 0;
   padding: 30px;
   box-shadow: 0px 4px 40px rgba(166, 166, 166, 0.16);
   border-radius: 6px;
}

.rts__single__blog.style__six .cat__link {
   font-size: 14px;
   background-color: var(--rts-gray);
   padding: 8px 15px;
   line-height: 1;
   color: var(--rts-heading);
   border-radius: 2px;
}

.rts__social a {
   display: inline-block;
   font-size: 20px;
   color: var(--rts-para);
   transition: var(--transition);
}

.rts__social a:hover {
   color: var(--rts-primary);
}

.social__three a {
   color: var(--rts-white);
}

.single__destination__item {
   max-width: 305px;
   position: relative;
}

.single__destination__item .destination__thumb {
   border-radius: 10px;
   overflow: hidden;
   position: relative;
}

.single__destination__item .destination__thumb::before {
   content: "";
   position: absolute;
   inset: 0;
   height: 100%;
   width: 100%;
   background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(102, 102, 102, 0) 100%);
   border-radius: 10px;
   transition: var(--transition);
}

.single__destination__item .destination__thumb img {
   width: 100%;
   height: 380px;
   -o-object-fit: cover;
   object-fit: cover;
}

.single__destination__item .destination__meta {
   transition: var(--transition);
   position: absolute;
   width: 100%;
   bottom: 30px;
   color: var(--rts-white);
   left: 50%;
   transform: translate(-50%, 0);
}

.single__destination__item .destination__meta a {
   color: var(--rts-white);
}

.single__destination__item:hover .destination__meta {
   transform: translate(-50%, -400%);
}

.swiper-slide.long__item {
   max-width: 645px;
}

.explore__slider .swiper-slide {
   width: 25%;
}

.style__one .accordion-button:not(.collapsed) {
   color: var(--bs-accordion-active-color);
   background-color: var(--rts-gray);
   box-shadow: none;
   border-color: var(--rts-gray) !important;
}

.style__one .accordion-button:not(.collapsed)::after {
   content: "";
   font-family: var(--fontawesome-pro);
   background-image: none;
   transform: none;
   font-size: 16px;
}

.style__one .accordion-button::after {
   content: "+";
   font-family: var(--fontawesome-pro);
   background-image: none;
   font-size: 16px;
}

.cta__h5__bg {
   background-color: var(--rts-button-1);
}

.rts__cta__content {
   padding: 75px 0;
}

.rts__cta__content .cta__content {
   max-width: 720px;
   margin: 0 auto;
}

.rts__cta__content .cta__shape {
   left: 50%;
   top: 50%;
   width: 100%;
}

.rts__cta__content .newsletter {
   max-width: 490px;
   margin: 0 auto;
}

.rts__cta__content .newsletter input[type=email] {
   padding: 20px 45px;
}

/* ==== Job Cta Card ==== */
.job__cta__card {
   background-color: var(--rts-gray);
   position: relative;
}

.job__cta__card .cta__content {
   position: relative;
   z-index: 1;
   height: 100%;
   display: flex;
   align-items: center;
   width: 55%;
   color: var(--rts-white);
   margin-left: 50px;
}

.job__cta__card .cta__content::after {
   position: absolute;
   content: "";
   height: 100%;
   width: 100%;
   right: -10px;
   background-image: url("../img/hom-4/cta__shape.svg");
   top: 0;
   z-index: -1;
}

.job__cta__card .fill__btn {
   padding: 18px 20px;
   border-radius: 0;
   background-color: var(--rts-gray);
   border: 0;
   color: var(--rts-button-1);
   font-weight: 500;
   margin-top: 30px;
   text-transform: capitalize;
}

.top__candidate__bg {
   background-image: url("../img/home-5/banner/banner__background.png");
   border-bottom-right-radius: 160px;
}

.top__candidate__bg .rts__banner__shape {
   position: absolute;
   height: 100%;
   width: 100%;
}

.top__candidate__bg .rts__banner__shape .shape__one,
.top__candidate__bg .rts__banner__shape .shape__two {
   height: 68px;
   width: 68px;
   border-radius: 50%;
   background: linear-gradient(180deg, #58D379 0%, #44B964 100%);
}

.top__candidate__bg .rts__banner__shape .shape__one {
   position: absolute;
   left: 5%;
   bottom: 40%;
}

.top__candidate__bg .rts__banner__shape .shape__two {
   position: absolute;
   right: 5%;
   top: 15%;
}

.top__candidate__single .author img {
   height: 60px;
   width: 60px;
}

.top__candidate__single .meta i {
   color: var(--rts-button-1);
}

.top__candidate__single .job__tags a {
   background-color: var(--rts-gray);
   padding: 10px;
   border-radius: 6px;
   line-height: 1;
   color: var(--rts-para);
}

.top__candidate__single .apply__btn:hover {
   background-color: var(--rts-button-1);
}

.rts__section__content.text-white .rts__section__title {
   color: var(--rts-white) !important;
}
/*# sourceMappingURL=../maps/style.css.map */
